@import "tailwindcss";

@theme {
  --color-backgroundGrey: #eeeeee;
  --color-textSecondary: #828282;
  --color-textPrimary: #000;
  --color-modalBackground: #707070;
  --color-semanticBlue2: #91E0FF;
  --font-aoboshiOne: 'Aoboshi One', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-libreBaskerville: 'Libre Baskerville', serif;
  --font-libreFranklin: 'Libre Franklin', sans-serif;
}

body {
  font-family: "Aoboshi One", sans-serif;
  line-height: 1.5;
}